# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Node Dependency directories
node_modules/

# Ignore Node Dependency directories
package-lock.json

# Ignore Environment files
.env

# Ignore Backup files
**/bak*
**/*.bak*

# Ignore jsx bundle files
**/*.bundle.js

# Except Ignore Gradle Wrapper
!**/gradle/wrapper/*
